body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.construction-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.construction-message {
  text-align: center;
}

.construction-message h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.construction-message p {
  font-size: 18px;
  margin-bottom: 10px;
}
